@import "tailwindcss";
@tailwind utilities;

body {
  background-color: #EAF0F2; /* Màu nền bạn muốn */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-family: 'Kameron', serif;
}

